input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical 
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 50px;    
  background-size:100%;
  background-image:url('background.jpg');
  background-position: center;
  background-attachment: fixed; 
  background-size: cover;
  height: 100vh;
  margin: 0;
  justify-content: center;
}

.transparent-container {
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the last value for transparency */
  padding: 5px;
  border-radius: 10px;
}

.transparent-container2 {
  background-color: rgba(248, 235, 239, 0.699); /* Adjust the last value for transparency */
  padding: 5px;
  border-radius: 10px;
}

input[type=submit] {
  background-color: #0a0c0d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.header {
  display: flex;
  justify-content: center; /* Align items horizontally in center */
  align-items: center; /* Align items vertically in center */
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(255, 255, 255, 0.4);
  color: #0e0d0d;
  padding: 10px;
  text-align: center;
}



.logo-container {
  width: 80px;
  height: 70px;
  border-radius: 90%;
  overflow: hidden;
  margin-right: 10px;
}

.logo-container img {
  width: 80%; /* Ensures the image fills the container */
  height: auto; /* Maintains aspect ratio */
  border-radius: 50%; /* Matches the container's shape */
  object-fit: cover;
}


.header1 {
  display: block;
  font-size: 30px;
  font-weight: bold;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4); 
  color: #0e0d0d;
  padding: 10px;
  text-align: center;
}

.options {
  position: sticky;
  top: 80px;
  color:#0e0d0d ;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.options1 {
  top: 80px;
  color:#0e0d0d ;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.options1 button {
  color: white;
  background-color: #333;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 30px ;
}

.options button {
  color: white;
  background-color: #333;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 30px ;
}

button {
  appearance: auto;
  font-style: normal;
  font-size : 16px ;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
  border-radius: 20px;
  border-color: buttonborder;
  border-image: initial;
}

input[type="file" i] {
  appearance: none;
  cursor: default;
  align-items: baseline;
  background-color: #ffffff;
  text-overflow: ellipsis;
  text-align: start !important;
  padding: initial;
  border: initial;
  white-space: pre;
  overflow: hidden !important;
  border-radius: 20px ;
}
input[type="number" i] {
  padding-block: 1px;
  padding-inline: 2px;
  border-radius: 20px ;
}

.container {
  border-radius: 5px;
  background-color: rgba(201, 216, 224, 0.7);
  padding: 20px;
}

.welcome-text {
  text-align: center;
  margin: 50px 0;
  width: 80%; 
  margin: 0 auto; 
  text-align: center;
  font-family: Arial, sans-serif; 
  font-size: 21px; 
  line-height: 1.5; 
  color: #333; 
}

.welcome-text p {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
  color: #555;
  line-height: 1.5;
}
.partition-line {
  margin: 5px ;
  border: 1px solid #0e0d0d;
}

.art{
  display: block;
  font-size: 20px;
  font-weight: bold;
  position: sticky;
  top: 0;
  color: #0e0d0d;
  padding: 10px;
  text-align: center;
}

input[type="text"], select, textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 20px;
}

.article-list{
  text-align: center;
  margin: 50px 0;
  background-color: #fff;
}
.art1{
  margin: 50px 0;
  background-color: #fff;
  text-align: center;
}

.art2{
  margin: 50px 0;
  background-color: #fff;
  text-align: center;
}

.art1full{
  margin: 50px 0;
  background-color: #fff;
}

.bio img {
  border-radius: 50%;
  max-width: 9%; 
  height: auto; 
  margin: -11px 0;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.alert{
  width:100%;
  background: rgb(0,200,106);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}

.custom-button {
  background-color: #000000; 
  border: none;
  color: white; 
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px; 
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px; 
}

.button-container {
  text-align: center; /* Center align content */
  margin-top: 20px; /* Add margin from the top */
}

.custom-button:hover {
  background-color: #787e79; 
}


.custom-button:active {
  background-color: #323772; 
}

.collapsible {
  background-color:  rgba(255, 255, 255, 0.4);
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 24px;
  border-radius: 20px;
  margin-top: 10px;
}

.content {
  padding: 18px;
  font-size: 20px;
  display: none;
  overflow: hidden;
  background-color:  rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.collapsible.active,
.collapsible:hover {
  background-color:  rgba(255, 255, 255, 0.4);
}
