input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 50px;    
    background-size:cover ;
    background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsb2ZmaWNlMl90aGlja19wYWludF9zdHJva2Vfb25fY2FudmFzX2JsdWVfZWMwMjEzNWMtY2M4Yy00NWEyLWFmYjEtMGRjZmNlMjJjNDkyXzEuanBn.jpg'); 
    background-position: center;
    background-attachment: fixed; 
  }

  input[type=submit] {
    background-color: #0a0c0d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .header {
      display: block;
      font-size: 30px;
      font-weight: bold;
      position: sticky;
      top: 0;
      background-color: rgba(255, 255, 255, 0.4); ;
      color: #0e0d0d;
      padding: 10px;
      text-align: center;
  }
  .header {
    display: block;
    font-size: 30px;
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4); ;
    color: #0e0d0d;
    padding: 10px;
    text-align: center;
  }
  
  .options {
    position: sticky;
    top: 80px;
    color:#0e0d0d ;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
  }

  .options button {
    color: white;
    background-color: #333;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
  }
  .container {
    border-radius: 5px;
    background-color:#39b0d4;
    padding: 20px;
  }

  .welcome-text {
    text-align: center;
    margin: 50px 0;
    background-color: #fff;
    
}

.welcome-text p {
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
}
.partition-line {
  margin: 5px ;
  border: 1px solid #0e0d0d;
}

.art{
    display: block;
    font-size: 20px;
    font-weight: bold;
    position: sticky;
    top: 0;
    color: #0e0d0d;
    padding: 10px;
    text-align: center;
}

.article-list{
    text-align: center;
    margin: 50px 0;
    background-color: #fff;
}
.art1{
    margin: 50px 0;
    background-color: #fff;
    text-align: center;
}

.art2{
  margin: 50px 0;
  background-color: #fff;
  text-align: center;
}

.art1full{
  margin: 50px 0;
  background-color: #fff;
  
}

.bio img {
  border-radius: 50%;
  max-width: 9%; 
  height: auto; 
  margin: -11px 0;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.alert{
  width:100%;
  background: rgb(0,200,106);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}